.header{
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #88f;
	font-size: 26px;
	height:50px;
	width: 97vw;
}
 .nav{
 	padding-right: 30px;
 }

.main{
	background-color: #fff;
	width: 97vw;
	padding-top: 50px;
}

.section{
	height:500px;
}

.element1{
	align-items: center;
	position: sticky;
	top:55px;
	background-color: #8f8;
	text-align: center;
	font-size: 26px;
	height:50px;
}

.element2{
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	background-color: #f88;
	height:200px;
	width:200px;
}

.right-bottom{
	margin-top: 80px;
	text-align: center;

}

footer{
	background-color: #999;
	text-align: center;
	height:50px;
	width: 97vw;
}